<footer>
    <div class="contato-direto">

        <div class="primeira">
            <div class="dados">
                <h2 class= "icone-1">Telefone</h2>
                <h3>+55 (11) 4306-7643</h3>
            </div>
        </div>

        <div class="segunda">
            <div class="dados">
                <h2 class= "icone-2">E-mail</h2>
                <h3>contato@w3academia.com.br</h3>
            </div>
        </div>

        <div class="terceira">
            <div class="dados">
                <h2 class = "icone-3">WhatsApp</h2>
                <h3>+55 (11) 98494-0171</h3>
            </div>
        </div>
    </div>

    <section class="redes">
        <h2>Siga-nos em nossas redes sociais:</h2>
        <div class="icones-redes">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-youtube-square"></i>
        </div>
    </section>

    <section class="footer-amplo">

        <div class="coluna-um">

            <div class="coluna-dados">
                <i class="fab fa-whatsapp"></i><a href="#" >+55 (11) 4306-7643</a>
            </div>

            <div class="coluna-dados">
                <i class="fas fa-envelope"></i>
                <a href="#">contato@w3academia.com.br</a>
            </div>

            <div class="coluna-dados">
                <i class="fas fa-map-pin"></i>
                <a href ="#"> Alameda Lorena, 150 Jardim Paulista CEP 01424-000 São Paulo/SP</a>
            </div>

        </div>

        <div class="coluna-dois">
            
            <a href="/">HOME</a>
            <a href="/cursos">CURSOS</a>
            <a href="/planos">PLANOS</a>
            <a href="/sobre">SOBRE NÓS</a>
            <a href="/admin">INGRESSO ADMIN</a>
            
        </div>

        <div class="coluna-tres">
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d117037.87573094158!2d-46.796750053404665!3d-23.552865189304356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d-23.5735358!2d-46.6801928!4m5!1s0x94ce50ab7feb4519%3A0x739f0ddb0439cf94!2sgoogle%20maps%20digital%20house%20sao%20paulo!3m2!1d-23.532912!2d-46.7724025!5e0!3m2!1ses-419!2sbr!4v1622326095368!5m2!1ses-419!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </section>
    
<div class="final">
    <p>W3 | Academia dos Vinhos - Todos os direitos reservados © 2021</p>
</div>

<script src="/javascripts/navbar.js"></script>
<script src="/javascripts/sobre.js"></script>
<script src="/javascripts/adminLogin.js"></script>
    <!--sobre-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="/javascripts/cep.js"></script>
    <script src="/public/javascripts/locals.js"></script>
    <script src="/javascripts/cursos.js"></script>    
    <script src="/javascripts/validaCPF.js"></script>
    <script src="/javascripts/menuColor.js"></script>
    <script src="/javascripts/step.js"></script>
    <script src="/javascripts/newsteps.js"></script>
    <script src="/public/services/planos.js"></script>
    <script src="/public/services/formularioPlanos.js"></script>
    <script src="/server.js"></script>
    <!--cursos-->
    <script src="/javascripts/toggleContrast.js"></script>
    <script src="/javascripts/zoomfont.js"></script>
    <!-- API Login Apple -->
    <!-- <script type="text/javascript" src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"></script>
    <script type="text/javascript">
        AppleID.auth.init({
            clientId : '[CLIENT_ID]',
            scope : '[SCOPES]',
            redirectURI : '[REDIRECT_URI]',
            state : '[STATE]',
            nonce : '[NONCE]',
            usePopup : true //or false defaults to false
        });
    </script> -->
    <!-- API Login Google -->
    <!-- <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        }
    </script>
    <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
      }
    </script> -->

    <!-- API reCAPTCHA -->
    <!-- <script src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_site_key"></script>
    <script>
        function onClick(e) {
          e.preventDefault();
          grecaptcha.ready(function() {
            grecaptcha.execute('reCAPTCHA_site_key', {action: 'submit'}).then(function(token) {
                // Add your logic to submit to your backend server here.
            });
          });
        }
    </script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        function onSubmit(token) {
          document.getElementById("demo-form").submit();
        }
      </script> -->

</body>



</footer>
</body>
</html>