<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                
    <link rel="stylesheet" href="/stylesheets/style-login.css"> 
    <link rel="stylesheet" href="/stylesheets/style-steps.css">
    <!-- <link rel="stylesheet" href="/stylesheets/style-cadastro-login.css"> -->
    <!-- <link rel="stylesheet" href="/stylesheets/style-pgto.css"> -->
    <link rel="stylesheet" href="/stylesheets/style-pto.css">
    <link rel="stylesheet" href="/stylesheets/style-footer.css"> 
    <link rel="stylesheet" href="/stylesheets/style-cursos.css">
    <link rel="stylesheet" href="/stylesheets/style-cadastro.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/fb10d770ed.js" crossorigin="anonymous"></script>
    <title><%= title.toUpperCase()  %> </title>
</head>




    