<body>
    <header>
        <div class="nav">
            <section class="navmenu">
                <div class="logo">
                    <a href="/"><img src="/images/w3_red.png" alt="W3 Academia dos Vinhos"></a>
                </div>
                <ul class="menu">
                    <li> <a href="/cursos">Cursos</a> </li>
                    <li><a href="/planos">Planos</a> </li>
                    <li><a href="/sobre">Sobre Nós</a> </li>
                    <button class="btn-em-linha"><a href="/login">Login</a></button>
                </ul>
                <section class="navrecursos">
                    <div class="navcontrast">
                        <input aria-label="Ativar alto contraste" type="checkbox" class="checkbox" id="chk" />
                        <label class="label" for="chk">
                            <div class="ball"></div>
                        </label>
                    </div>
                    <div class="navfontsize">
                        <ul id="fonte-lista-dropdown" class="aria-expended">
                            <li><button aria-label="Aumentar fonte" id="aumentar-fonte">A+</button></li>
                            <li><button aria-label="diminuir fonte" id="diminuir-fonte">A-</button></li>
                        </ul>
                    </div>
                    <button class="btn-em-linha-2"><a href="/login">Login</a></button>
                </section>
            </section>
        </div>
    </header>