<%- include("./partials/header")%>
<%- include("./partials/nav")%>

    <!--comeco pagina cursos-->
    <div class="container-site">

        <div class="caco"></div>


        <section class="encabezado">
            <i class="fas fa-book"></i>
            <h2 class="main-header">PAINEL DE ADMINISTRAÇÃO</h2>
            <h4 class="subt-main-header videos">Atualização de componentes</h4>
        </section>
        <!--encabezado-->

        <section class="novo-cadastro">
            <div class="imagen-cadastro">
                <img src="/images/foto-admin/painel.jpg" alt="">
            </div>
            <div class="servico">
                <form action="/admin/servicos" method="GET">
                    <input type="text" name="adminLogin" id="adminLogin" placeholder="Usuario">            
                    <input type="password" name="adminPwd" placeholder="Senha" id="adminPwd">
                    <button id="adminBtn">Ingresar</button>
                </form>
                <!-- <a href="/admin/servicos">Ver Serviços</a> -->
            </div>
        </section>
        

<%- include("./partials/footer")%>
