<%- include("./partials/header")%>
<%- include("./partials/nav")%>
    <!--fin navbar-->

    <!--comeco pagina INDEX-->
    <div class="container-site">
        <div class="caco"></div>
        <!--espacamento header-->

        <section class="encabezado">
            <i class="fas fa-user"></i>
            <h2 class="main-header">CRIAÇÃO DE USUÁRIO</h2>
            <h4 class="subt-main-header">Desenvolvemos esta nova plataforma que lhe permitirá fazer o seu curso de vinhos quando, onde e como quiser...
            </h4>
        </section>
        <!--encabezado-->

        <main>
            <section class="cadastro">
                <div class="container1">
                    <div class="box-logo">
                        <a href="/"><img src="/images/foto-steps-ok/w3 brand white.png" alt="W3 | Academia dos Vinhos"></a>
                    </div>
                    <article class="lista">
                        <div class="info">              
                            <ul>
                                <li id="menu1" class="active"><span class="bolinha">1</span>CRIAÇÃO DE USUÁRIO</li>
                                <li id="menu2"><span class="bolinha">2</span>INFORMAÇÕES PESSOAIS</li>
                                <li id="menu3"><span class="bolinha">3</span>AUTENTICAÇÃO DO E-MAIL</li>
                                <li id="menu4"><span class="bolinha">4</span>PAGAMENTO</li>
                            </ul>                                          
                        </div>
                    </article> <!--lista-->
                </div>

            </section>
            <form class="formulario" autocomplete="off" action="/cadastro" method="POST">
                <div class="container2">
                    <div class="member_logo">
                        <picture>
                            <svg class="member-icon " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " version="1.1 " x="0px " y="0px " viewBox="0 0 50 50 " style=" fill:#96042D; height: 156px; width: 156px;
                                    " xml:space="preserve ">
                                <g id="Layer_1 ">
                                    <path d="M25,1C11.767,1,1,11.767,1,25c0,7.091,3.094,13.472,8,17.869v0.017l0.348,0.3c0.061,0.053,0.128,0.097,0.19,0.149 c0.431,0.364,0.875,0.713,1.331,1.047c0.123,0.09,0.246,0.177,0.371,0.264c0.484,0.34,0.979,0.664,1.487,0.968
                                    c0.085,0.051,0.172,0.099,0.257,0.148c0.557,0.324,1.126,0.629,1.71,0.908c0.006,0.003,0.012,0.005,0.018,0.008 c1.249,0.595,2.559,1.082,3.915,1.456c0.025,0.007,0.05,0.015,0.075,0.021c0.641,0.175,1.293,0.322,1.954,0.443 c0.062,0.011,0.123,0.022,0.185,0.033c0.638,0.112,1.284,0.201,1.939,0.262c0.075,0.007,0.15,0.011,0.224,0.017
                                    C23.663,48.965,24.327,49,25,49s1.337-0.035,1.996-0.09c0.075-0.006,0.15-0.01,0.224-0.017c0.655-0.06,1.301-0.15,1.939-0.262 c0.062-0.011,0.123-0.022,0.185-0.033c0.661-0.121,1.313-0.268,1.954-0.443c0.025-0.007,0.05-0.014,0.075-0.021
                                    c1.356-0.374,2.666-0.861,3.915-1.456c0.006-0.003,0.012-0.005,0.018-0.008c0.584-0.279,1.153-0.585,1.71-0.908 c0.086-0.05,0.172-0.097,0.257-0.148c0.509-0.304,1.004-0.629,1.487-0.968c0.124-0.087,0.248-0.174,0.371-0.264 c0.456-0.334,0.9-0.683,1.331-1.047c0.062-0.052,0.129-0.096,0.19-0.149l0.348-0.3v-0.017c4.906-4.398,8-10.778,8-17.869
                                    C49,11.767,38.233,1,25,1z M25,25c-4.411,0-8-3.589-8-8s3.589-8,8-8s8,3.589,8,8S29.411,25,25,25z M28,27c6.065,0,11,4.935,11,11 v3.958c-0.042,0.035-0.086,0.067-0.128,0.102c-0.395,0.321-0.8,0.626-1.214,0.918c-0.092,0.065-0.182,0.132-0.274,0.195
                                    c-0.447,0.305-0.906,0.591-1.373,0.862c-0.085,0.05-0.171,0.099-0.257,0.148c-0.49,0.275-0.989,0.533-1.498,0.769 c-0.053,0.025-0.107,0.049-0.161,0.073c-1.661,0.755-3.411,1.302-5.212,1.626c-0.057,0.01-0.114,0.021-0.171,0.031
                                    c-0.567,0.097-1.139,0.172-1.715,0.225c-0.079,0.007-0.159,0.012-0.239,0.018C26.175,46.97,25.589,47,25,47 s-1.175-0.03-1.758-0.077c-0.079-0.006-0.159-0.011-0.239-0.018c-0.576-0.053-1.148-0.127-1.715-0.225 c-0.057-0.01-0.114-0.02-0.171-0.031c-1.801-0.324-3.551-0.871-5.212-1.626c-0.054-0.025-0.108-0.048-0.161-0.073
                                    c-0.509-0.236-1.008-0.494-1.498-0.769c-0.086-0.049-0.171-0.098-0.257-0.148c-0.467-0.27-0.926-0.557-1.373-0.862 c-0.093-0.063-0.183-0.13-0.274-0.195c-0.414-0.292-0.819-0.596-1.214-0.918c-0.042-0.034-0.086-0.067-0.128-0.102V38
                                    c0-6.065,4.935-11,11-11H28z M41,40.076V38c0-6.271-4.464-11.519-10.38-12.735C33.261,23.464,35,20.431,35,17 c0-5.514-4.486-10-10-10s-10,4.486-10,10c0,3.431,1.739,6.464,4.38,8.265C13.464,26.481,9,31.729,9,38v2.076 C5.284,36.135,3,30.831,3,25C3,12.869,12.869,3,25,3s22,9.869,22,22C47,30.831,44.716,36.135,41,40.076z "/>
                                </g>
                                <g>
                                </g>
                                </svg>
                        </picture>
                    </div> <!--member logo-->
                    <div class="st1 tab" id="Form1" action="/cadastro" method="POST">                    
                        <input class="step1" type="email" name="email" id="emailCadastro" placeholder="Insira seu email" required>                                                
                        <input class="step1" autocomplete="off" type="password" name="password" id="password" placeholder="Crie a sua senha" required>                    
                        <input class="step1" autocomplete="off" type="password" name="confirm_password" id="confirm_password" placeholder="Confirme a sua senha" >
                        <div class="btn-box">                                                            
                            <button class="btn-step-1 letras" type="button" id="Next1">Próximo</button>
                            <div id="errmsg"></div>
                        </div> <!--btn-box-->
                    </div>
                    

                    <div class="st2 tab dados" id="Form2" action="/cadastro" method="POST">                                        
                        <input class="w-100" type="text" name="nome" id="nome" placeholder="Nome completo">                                        
                        <input class="w-50" type="text" name="data_nasc" id="data-nasc" placeholder="Data de Nascimento">                            
                        <input class="w-50" type="text" name="identidade" id="identidade" placeholder="CPF">                            
                        <input class="w-30" type="text" name="orgao" id="orgao-emissor" placeholder="Nacionalidade">                                                        
                        <input class="w-30" type="text" name="edocivil" id="est-civil" placeholder="Estado Civil">                            
                        <input class="w-30" type="text" name="genero" id="genero" placeholder="Gênero">                            
                        
                        <input class="w-30" type="search" name="cep" id="cep"  placeholder="CEP">                            
                        <input class="w-70" type="text" name="endereco" id="endereco" placeholder="Endereço">    

                        <input class="w-30" type="text" name="numero" id="numero" placeholder="Numero">
                        <input class="w-30" type="text" name="logradouro" id="logradouro" placeholder="Complemento">                                                                        
                        <input class="w-30" type="text" name="bairro" id="bairro" placeholder="Bairro">                                                                                            
                        
                        <input class="w-50" type="text" name="cidade" id="cidade" placeholder="Cidade">
                        <input class="w-10" type="text" name="uf" id="uf" placeholder="UF">                                                
                        <input class="w-30" type="tel"  name="telefone" id="telefone" placeholder="Telefone">                            
                        
                        <div class="btn-box">                                                          
                            <button class="btn-step-1 letras" type="button" id="Back1">Anterior</button>
                            <button class="btn-step-1 letras" type="button" id="Next2">Próximo</button>
                        </div> <!--btn-box-->

                    </div> <!--form2-->

                    
                    <div class="st3 tab" id="Form3" action="/cadastro" method="POST">
                        <h1 class="confirme-central">Por favor, confirme o seu e-mail!</h1>
                        <h2 class="confirme-central-subt">Enviaremos o código. Verifique-o.</h2>    
                       
                        <div class="input-confirm">
                            <input class="confirm" type="text" name="number" id="number1" maxlength="1" min="0" max="9">
                            <input class="confirm" type="text" name="number" id="number2" maxlength="1" min="0" max="9">
                            <input class="confirm" type="text" name="number" id="number3" maxlength="1" min="0" max="9">
                            <input class="confirm" type="text" name="number" id="number4" maxlength="1" min="0" max="9">
                            
                        </div>
                        <p class="letras2">Ainda não recebeu a confirmação? <a href="#" onclick="reenviar()">Reenviar</a></p>
                        <div class="btn-box">                                
                            <button class="btn-step-1 letras" type="button" id="Back2">Anterior</button>
                            <button class="btn-step-1 letras" type="button" id="Next3">Próximo</button>
                        </div> <!--btn-box-->
                    </div>

                    <div class="st4 tab" id="Form4">
                        
                        <div class="plan">
                            <div class="container-plan">
                                <!-- <div class="description">                             -->
                                    <!-- <p>Tipo de Plano: COMBO FULL</p>                            
                                    <p>Validade: 1 ano</p>                              
                                    <p>Expira em 29/04/2022</p>  -->
                                <!-- </div> -->

                                 <div class="valor">
                                    <label for="cursointeres" class="cursoInteres">Curso de interés:</label>
                                    <select name="cursointeres" id="cursointeres" onchange="run()">
                                        <option selected disabled>Selecione</option>
                                        <option value="159,00">Curso Individual - R159 a vista</option>
                                        <option value="859,00">COMBO Novo e Velho Mundo - 859 a vista</option>
                                        <option value="1.250,00">COMBO FULL - R1,250 a vista</option>                                                                
                                    </select>

                                    <p>Validade: 1 ano</p>                              
                                    <p>Expira em 29/04/2022</p>
                                    <!-- <h3>R$ 1.250,00</h3> -->
                                    <h5>À vista R$ <input type="number" disabled="disabled" id="srt"></h5>
                                </div>   <!--valor-->                                  
                            </div> <!--container plan-->
                        </div> <!--plan-->

                        <div class="fin-pago">
                            <p>Selecione a forma de pagamento</p>
                        </div>               

                        <div class="payment">                            
                            <div id="botaocartao" class="credit opcaoactiva">
                                <h6>Cartão de crédito</h6><i class="zmdi zmdi-card"></i>                                    
                            </div> <!--credit-->

                            <div id="botaoboleto" class="boleto">
                                <h6>Boleto</h6><i  class="fas fa-barcode"></i>                                    
                            </div> <!--boleto-->
                        </div> <!--payment-->
                    
                        <div class="dadosC" id="dadosCartao">
                            <input class="w-100 dadosC" type="text" name="login" id="nome" placeholder="Nome do titular">                        
                            <input class="w-100 dadosC" type="text" name="login" id="input_card" placeholder="Número do cartão">                                                    
                            <input class="w-30 dadosC" type="text" name="login" id="val_cartao" placeholder="Data de validade do cartão">                        
                            <input class="w-30 dadosC" type="text" name="login" id="cvv" placeholder="CVV">                        
                            <input class="w-30 dadosC" type="text" name="login" id="cpf" placeholder="CPF"> 
                        </div>

                        <div class="dadosB" id="dadosBoleto">                                                                                              
                            <input type="radio" name="radios" id="pagounico"><label for="pagounico"> Pagamento à vista: R$ 966,00 no ato da matrícula</label><br>
                            <input type="radio" name="radios" id="pagounico"><label for="pagounico"> Pagamento à vista: R$ 966,00 no ato da matrícula</label>
                            <!-- <input type="radio" name="radios" id="parcelado"><label for="parcelado"> Pagamento parcelado: 2 parcelas de R$ 323,61 com vencimento(s) em 30 e 60 dias após a data término das inscrições</label>                             -->
                        </div>


                        <div class="btn-box">                                
                            <button class="btn-step-10 letras" type="button" id="Back3">Anterior</button>
                            <button class="btn-step-10 letras" type="submit" id="btn1">PAGAR</button>  
                            <!-- <button class="btn-step-1 letras" type="submit " id="btn1">Enviar</button>                               -->
                        </div> <!--btn-box-->
                    </form>
                <!-- </div> -->

                </div> <!--container 2-->

            </section>
        </main>

<%- include("./partials/footer")%>