<%- include("./partials/header")%>
<%- include("./partials/nav")%>

    <!--comeco pagina cursos-->
    <div class="container-site">

        <div class="caco"></div>


        <section class="encabezado">
            <i class="fas fa-book"></i>
            <h2 class="main-header">NOVA AREA!</h2>
            <h4 class="subt-main-header videos"></h4>
        </section>
        <!--encabezado-->

        <section>
            <form action="/database/dashboard/area" method="POST" class="formulario-professor">
                <label for="area">Área de Estudo</label>
                <input type="text" name="area" id="area" class="form-control">
           
                
                <button class="btn btn-primary">Salvar</button>
                <a href="/database/dashboard/area" class="btn btn-default formulario-voltar">voltar</a>
                

            </form>
        </section>    

<%- include("./partials/footer")%>