<%- include("./partials/header")%>
<%- include("./partials/nav")%>

    <!--comeco pagina cursos-->
    <div class="container-site">

        <div class="caco"></div>


        <section class="encabezado">
            <i class="fas fa-book"></i>
            <h2 class="main-header">DASHBOARD INSTITUCIONAL!</h2>
            <h4 class="subt-main-header videos">Direcao Académicos</h4>
        </section>
        <!--encabezado-->

        <section>
            <div class="btn-mysql">
                <a href="/database/dashboard/aluno" class="btn btn-primary">Dashboard Aluno</a>
                <a href="/database/dashboard/professor" class="btn btn-primary">Dashboard Professor</a>
                <a href="/database/dashboard/curso" class="btn btn-primary">Dashboard Curso</a>         
            </div>
        </section>    

<%- include("./partials/footer")%>