<%- include("./partials/header")%>
<%- include("./partials/nav")%>

    <!--fin navbar-->

    <!--comeco pagina INDEX-->
    <div class="container-site">
        <div class="caco"></div>
        <!--espacamento header-->

        <section class="encabezado">
            <i class="fas fa-home"></i>
            <h2 class="main-header">SEJAM BEM-VINDOS</h2>
            <h4 class="subt-main-header">Somos um Centro Online de Estudos Enológicos. Começamos este projeto com a idéia de levar O Mundo do Vinho a todos de uma forma prática, fácil e muito dinâmica. Acreditamos que aprender sobre o fascinante mundo do vinho não deve ser tão complicado;
                deve ser algo divertido, agradável e prático, quando quiser, onde quiser e como quiser.
            </h4>
        </section>
        <!--encabezado-->

        <!--slide-->


        <section class="hero">
            <div class="imagen-hero">
                <img src="/images/foto-index/foto-slide/slideok1.jpg" alt="">
            </div>

            <section class="hero-2">
                <div class="quem-somos">
                    <h1>QUEM SOMOS</h1>
                    <h3>A W3 | Academia dos Vinhos tem como objetivo ajudar no progresso da indústria e estabelecer o conhecimento através da educação, compartilhando nossa experiência e comprometimento pelo mundo dos vinhos, destilados e saquês.</h3>
                    <!-- <a href="#" class="btn-index">Conozcanos</a> -->
                </div>
                <!--Quem Somos-->
            </section>
            <!--Hero 2-->

            <section class="hero-3">
                <div class="resumo-ofertas">
                    <div class="img-resumo">
                        <img src="/images/foto-index/hero-2-img-1.png" alt="">
                    </div>
                    <!--img-resumo-->
                    <div class="titulo-second">
                        <h3>cursos wset</h3>
                        <p>A Wine&Spirit Education Trust é a principal organização internacional na educação em vinhos e destilados e está presente em mais de 70 países.</p>
                    </div>
                    <!--titulo-second-->
                </div>
                <!--resumo-oferas-->
                <div class="resumo-ofertas">
                    <div class="img-resumo">
                        <img src="/images/foto-index/hero-2-img-2.png" alt="">
                    </div>
                    <!--img-resumo-->
                    <div class="titulo-second">
                        <h3>cursos wsg</h3>
                        <p>Líder mundial no fornecimento de programas de estudo e certificação internacional. A French Wine Scholar é um curso avançado sobre vinhos franceses.</p>
                    </div>
                    <!--titulo-second-->
                </div>
                <!--resumo-oferas-->
                <div class="resumo-ofertas">
                    <div class="img-resumo">
                        <img src="/images/foto-index/hero-3-img-3.png" alt="">
                    </div>
                    <!--img-resumo-->
                    <div class="titulo-second">
                        <h3>corporativo</h3>
                        <p>Desenvolvemos eventos customizados para empresas com o objetivo de estreitar relacionamento com clientes, parceiros ou equipe.</p>
                    </div>
                    <!--titulo-second-->
                </div>
                <!--resumo-oferas-->
                <div class="resumo-ofertas">
                    <div class="img-resumo">
                        <img src="/images/foto-index/hero-2-img-1.png" alt="">
                    </div>
                    <!--img-resumo-->
                    <div class="titulo-second">
                        <h3>Workshops</h3>
                        <p>Cursos aprofundados em temas-chave no universo dos vinhos e destilados, em uma atmosfera descontraída e com degustações de produtos de alta qualidade.</p>
                    </div>
                    <!--titulo-second-->
                </div>
                <!--resumo-oferas-->
            </section>
            <!--Hero-3-->

            <section class="hero-4">
                <div class="recomendados">
                    <div class="img-recomendados">
                        <img src="/images/foto-index/foto-recomendados/Pelleriti.jpg" alt="">
                    </div>
                    <!--img-resumo-->
                    <div class="titulo-recomendados">
                        <h3>Javier Bitencourt</h3>
                        <h5>Instituto de Agronomía</h5>
                        <p>Além de ser um pré-requisito para aqueles que buscam excelência na educação em Vinhos, considero as certificações da W3 como ferramentas imprescindíveis na profissionalização do setor vitivinícola brasileiro.</p>
                    </div>
                    <!--titulo-second-->
                </div>
                <!--recomendados-->
                <div class="recomendados">
                    <div class="img-recomendados">
                        <img src="/images/foto-index/foto-recomendados/Rolland.jpg" alt="">
                    </div>
                    <!--img-resumo-->
                    <div class="titulo-recomendados">
                        <h3>Francisco Heredia</h3>
                        <h5>Sommelier</h5>
                        <p>A W3 dá um excelente suporte e estrutura para todos os interesados no mundo dos vinhos! Excelente didática com muita experiência de todos os professores!</p>
                    </div>
                    <!--titulo-second-->
                </div>
                <!--recomendados-->
                <div class="recomendados">
                    <div class="img-recomendados">
                        <img src="/images/foto-index/foto-recomendados/Spurrier.jpg" alt="">
                    </div>
                    <!--img-resumo-->
                    <div class="titulo-recomendados">
                        <h3>Antonio La Rossa</h3>
                        <h5>Grupo LVMH</h5>
                        <p>A equipe da W3 é formada por profissionais que, além de oferecerem amplo conhecimento para seus alunos, também transmitem grande paixão pelo que fazem e acho isso fundamental para todo aquilo relacionado ao mundo do vinho. </p>

                    </div>
                    <!--titulo-second-->
                </div>
                <!--recomendados-->

            </section>
            <!--Hero-4-->

            <section class="partners">
                <h2>Nossos Parceiros</h2>
                <p>A W3 não é vinculada a nenhum produtor ou distribuidor específico. Nossa independência garante nossa imparcialidade. Temos muito orgulho de contar com apoiadores de extremo profissionalismo e qualidade que lideram o setor etílico brasileiro.</p>


                <div class="patrons">
                    <div class="logos">
                        <a href="https://pernod-ricard.com/es/nuestras-marcas/" target="_blank"><img src="/images/fotos-cursos/partners/Pernod_Ricard_Logo.png" alt=""></a>
                    </div>
                    <div class="logos">
                        <a href="https://www.diageo.com/en/our-brands/" target="_blank"><img src="/images/fotos-cursos/partners/diageo.png" alt=""></a>
                    </div>
                    <div class="logos">
                        <a href="https://www.lvmh.com/houses/wines-spirits/" target="_blank"><img src="/images/fotos-cursos/partners/Moet_Hennessy_Logo.jpg" alt=""></a>
                    </div>
                    <div class="logos">
                        <a href="https://www.instagram.com/laithwaites.wine/?hl=es" target="_blank"><img src="/images/fotos-cursos/partners/laithwaites_logo_before_after.png" alt=""></a>
                    </div>

                </div>
                <!--patrons-->
                <div class="sombra"></div>
            </section>
            <!--partners-->

    <%- include("./partials/footer")%>
