<%- include('./partials/header'); %>
<!--comeco pagina ASSOCIADOS-->
<div class="container-site">

    <div class="caco"></div>
    <!--espacamento header-->

    <section class="encabezado">
        <i class="fas fa-cube"></i>
        <h2 class="main-header">PLANOS</h2>
        <h4 class="subt-main-header">Nossa plataforma oferece conectividade ilimitada para que você possa desfrutar de sua aula onde quer que esteja. É muito fácil, você não precisa de nenhum software ou programa especial. Só escolher o plano e pronto!</h4>
    </section>
    <!--encabezado-->


    <section class="planos-header">
        <div class="texto-header">
            <h1>A porta de entrada para o maravilhoso mundo dos vinhos.</h1>
            <h3>Sabe quando você pode começar? Agora!</h3>
        </div>
        <section class="card-planos-container">
            <div class="card-planos">
                <div class="nombre-plano">
                    <div class="icono-plano"><i class="ico-curso fas fa-wine-glass-alt"></i></div>
                    <h1>Curso Individual</h1>
                </div>
                <div class="precio-plano">
                    <span>R$190</span>
                    <p class="subti"> à vista R$159</p>
                </div>
                <div class="beneficios">
                    <div class="beneficio-icono">
                        <i class="fas fa-check"></i>
                        <p>Aulas online gravadas</p>
                    </div>
                    <!--beneficios icono-->
                    <div class="beneficio-icono">
                        <i class="fas fa-check"></i>
                        <p>Estude no seu próprio ritmo</p>
                    </div>
                    <!--beneficios icono-->
                    <div class="beneficio-icono">
                        <i class="fas fa-check"></i>
                        <p>Sugestões de vinhos para comprar</p>
                    </div>
                    <!--beneficios icono-->
                    <div class="beneficio-icono">
                        <i class="fas fa-check"></i>
                        <p>Conteúdo disponível por 30 dias</p>
                    </div>
                    <!--beneficios icono-->
                    <div class="beneficio-icono">
                        <i class="fas fa-check"></i>
                        <p>Certificado W3 Academy</p>
                    </div>
                    <!--beneficios icono-->
                </div>
                <a href="login.html "><button class="planos-boton ">Matricule-se</button></a>
            </div>
            <!--card-planos-->
            <div class="card-planos">
                <div class="nombre-plano">
                    <div class="icono-plano"><i class="ico-curso fas fa-wine-glass-alt"></i></div>
                    <h1>COMBO Novo e Velho Mundo</h1>
                </div>
                <div class="precio-plano">
                    <span>R$950</span>
                    <p class="subti"> à vista R$859</p>
                </div>
                <div class="beneficios">
                    <div class="beneficio-icono">
                        <i class="fas fa-check"></i>
                        <p>12 módulos exclusivos</p>
                    </div>
                    <!--beneficios icono-->
                    <div class="beneficio-icono">
                        <i class="fas fa-check"></i>
                        <p>Argentina, Chile, USA</p>
                    </div>
                    <!--beneficios icono-->
                    <div class="beneficio-icono">
                        <i class="fas fa-check"></i>
                        <p>França, Espanha e Itália</p>
                    </div>
                    <!--beneficios icono-->
                    <div class="beneficio-icono">
                        <i class="fas fa-check"></i>
                        <p>Conteúdo disponível por 60 dias</p>
                    </div>
                    <!--beneficios icono-->
                    <div class="beneficio-icono">
                        <i class="fas fa-check"></i>
                        <p>Certificado W3 Academy</p>
                    </div>
                    <!--beneficios icono-->
                </div>
                <a href="login.html "><button class="planos-boton ">Matricule-se</button></a>
            </div>
            <!--card-planos-->
            <div class="card-planos">
                <div class="nombre-plano">
                    <div class="icono-plano"><i class="ico-curso fas fa-wine-glass-alt"></i></div>
                    <h1>COMBO FULL</h1>
                </div>
                <div class="precio-plano">
                    <span>R$1250</span>
                    <p class="subti"> à vista R$1050</p>
                </div>
                <div class="beneficios">
                    <div class="beneficio-icono">
                        <i class="fas fa-check"></i>
                        <p>+500h de aula</p>
                    </div>
                    <!--beneficios icono-->
                    <div class="beneficio-icono">
                        <i class="fas fa-check"></i>
                        <p>Vinhos de Novo e Velho Mundo</p>
                    </div>
                    <!--beneficios icono-->
                    <div class="beneficio-icono">
                        <i class="fas fa-check"></i>
                        <p>Champagne & Oporto</p>
                    </div>
                    <!--beneficios icono-->
                    <div class="beneficio-icono">
                        <i class="fas fa-check"></i>
                        <p>Conteúdo disponível por 120 dias</p>
                    </div>
                    <!--beneficios icono-->
                    <div class="beneficio-icono">
                        <i class="fas fa-check"></i>
                        <p>Certificado W3 Academy</p>
                    </div>
                    <!--beneficios icono-->
                </div>
                <!-- <a href="login.html" class="planos-boton">Matricule-se</a> -->
                <a href="login.html "><button class="planos-boton ">Matricule-se</button></a>
            </div>
            <!--card-planos-->
        </section>
        <!--card-planos-container-->
    </section>

    <section class="contenedor-form ">
        <div class="contacto-header ">
            <h1>DÚVIDAS? ENVIE UMA MENSAGEM</h1>
            <h3>Preencha e envie o formulário. Retornaremos em breve.</h3>
        </div>
        <form action=" " class="formulario ">
            <div class="coluna-izq ">
                <div class="primeros ">
                    <input type="text " placeholder="Nome * " name=" " id=" " class="w50 ">
                    <input type="text " placeholder="Cidade/Estado * " name=" " id=" " class="w50 ">
                </div>

                <input type="email " placeholder="Email * " name=" " id=" " class="w100 ">
                <input type="tel " placeholder="Telefone * " name=" " id=" " class="w100 celular ">
                <textarea placeholder="Mensagem " name="mensaje " id="mensaje "></textarea>
            </div>
            <div class="coluna-der">
                <div class="segundos ">
                    <label for="horario " class="label-format ">A que horas você prefere que liguemos?</label>
                    <select name="horario " id="horario ">
                        <option selected disabled>Selecione horario</option>
                        <option value="primer_horario ">9 a 12h</option>
                        <option value="primer_horario ">12 a 15h</option>
                        <option value="primer_horario ">15 a 18h</option>
                        <option value="primer_horario ">18 a 21h</option>
                        <option value="primer_horario ">A qualquer momento</option>
                    </select>
                    <p class="label-format ">Em qual oferta você está interessado?</p>
                    <input type="radio" id="iniciante " name="paquete " value="iniciante ">
                    <label for="iniciante" class="label-radio ">Iniciante</label><br>

                    <input type="radio" id="enofilo " name="paquete " value="enofilo ">
                    <label for="enofilo" class="label-radio ">Enófilo</label><br>

                    <input type="radio" id="conocedor " name="paquete " value="conocedor ">
                    <label for="conocedor" class="label-radio ">Conhecedor</label>
                </div>
                <p class="campos-obligatorios ">* Campos obrigatórios</p>
                <button type="submit" class="btn">Enviar</button>
            </div>
        </form>
    </section>

    <div class="sombra "></div>
<%- include('./partials/footer'); %>