<%- include("./partials/header")%>
<%- include("./partials/nav")%>
    <!--comeco pagina cursos-->
    <div class="container-site">

        <div class="caco"></div>


        <section class="encabezado">
            <i class="fas fa-book"></i>
            <h2 class="main-header">USUARIO NÃO ENCONTRADO</h2>
            <h4 class="subt-main-header">Intente novamente<a href="/login" class="asinatura">Voltar a Login</a>
            </h4>
        </section>
        <!--encabezado-->

        <section class="curso-destacado">
            <div class="imagen-destacada">
                <img src="/images/foto-login/usernotfound.jpg" class="imagen" alt="">
            </div>            
        </section>
        
        <div class="sombra"></div>

<%- include("./partials/footer")%>
