/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap'); */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.btnproximo {
    text-decoration: none;
}

.letras {
    text-align:center;
    font-size: 20px;
    margin-bottom: 1rem;
    color:white;
}

.letras.active{
    color:yellow;
}

.confirme-central {
    text-align: center;
    margin-bottom: .5rem;
    font-weight: bold;
}
.confirme-central-subt {
    text-align: center;
    margin-bottom: 1rem;
}

.bolinha{
    font-size:1.5rem;
    position:relative;
    left:-20px;
    font-weight: bold;
}

.bolinha::after{
    position:absolute;
    content:"";
    width:30px;
    height:30px;
    border-radius:50%;
    border:1px solid;
    background:none;
    bottom:-2px;
    left:-9px;
}


.letras2 {
    margin-top:1.5rem;
    font-size: 15px;
    color: black;    
    text-align:center;
}

.letras3 {
    font-size: 20px;
    color: #92062E;
    font-size: 1.5rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95%;
    margin-bottom: 32px;
}

.container1 {
    background: transparent linear-gradient(214deg, #96042D 0%, #AF1F48 100%) 0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 10px #00000029;
    left: 412px;
    width: 500px;
    height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px 0 0 25px;
    opacity: 1;
    padding-bottom:200px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.box-logo {
    width: 300px;
    height: 150px;
    padding-top:30px;
    
    
}

article {
    position: relative;
    bottom: 150px;
    text-align: left;
    font: normal normal normal 1.5em Manrope;
    letter-spacing: 0px;
    color: #D84D75;
    opacity: 1;
}

.lista {
    width:100%;
    
}

.info {
    font-size: 1.3em;
    margin:auto;
    width: 80%;


}

.info ul {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;    
    margin-left:2rem;
}

.info ul li {
    list-style-type: none;
    color:#D84D75;
    display:block;
    padding:10px 0;
    text-decoration:none;
    text-transform: uppercase;
    user-select: none; 

}

.info ul li.active {
    color:#eee;
}




picture {
    display: flex;
    align-items: center;
    
}

#arrow {
    display: flex;
    justify-content: center;
}


/*DE ACA PARA ABAJO */

svg:not(svg.member-icon) {
    padding-right: 10px;
}

span {
    left: 20px;
}


/*DE ACA PARA ARRIBA */

.container2 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 10px #00000029;
    width: 600px;
    height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 25px 25px 0;
    opacity: 1;
    padding-top: 2rem;
    position:relative;
    overflow: hidden;
}

 .dados {
    position: relative;
    bottom: 20px;
    margin:auto;
} 

.tab {
    /* display: inline-flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 85%;
    justify-content: center;
    background-color: red; */

    width:85%;
    position:absolute;
    top:280px;
    left:50px;
    transition:0.5s;    
    margin:0 auto;
}

/* .st1 {
    position: absolute;
    bottom: 30px;
    margin:auto;
    
} */

.st2 {
    position: absolute;
    left:750px;
}

.st3 {
    position: absolute;
    left:750px;
}

.input-confirm{
    display:flex;
    margin:auto;    
    width:90%;    
}

.input-confirm input {
    margin:auto;
}

.st4 {
    position: absolute;
    left:750px;
    top:200px;
    
}


.confirm {
    width: 5rem;
    max-width: 100%;
    height: 6rem;
    border-radius: 23px;
    border: 1px solid rgba(36, 36, 36, .4);
    opacity: 1;    
    text-align: center;
    color: #92062E;
    font-size: 4rem;
}

.confirm:not(#number4) {
    margin-right: 3%;
}

input {
    display: block;
    border-radius: 40px;
    max-width: 100%;
    padding: 15px;
    color: #2E2E2E;
    border: 1px solid rgba(36, 36, 36, .4);        
}

input:focus {
    outline: none;
}


input.step1 {
    width:100%;
    margin-bottom: 2rem;
}

input::placeholder {
    opacity: 0.6;
}

.w-100 {
    width:90%;
    margin-bottom: .5rem;
}

.w-50 {
    width:45%;
    display:inline;
    margin-bottom: .5rem;
}

.w-70 {
    width:60%;
    display:inline;
    margin-bottom: .5rem;
}

.w-30 {
    width:30%;
    display:inline;
    margin-bottom: .5rem;
}

.w-10 {
    width:15%;
    display:inline;
    margin-bottom: .5rem;
}

.step2-1 {
    width: 100%;
    margin: 5px 0 5px 0;
}

.step2-2 {
    width: 49%;
    margin: 5px 0 5px 0;
}

/* #data-nasc {
    margin-right: 1%;
    block-size: 2.8rem;
}

#identidade {
    margin-left: 1%;
} */

.step2-3 {
    width: 39%;
    margin: 5px 0 5px 0;
}


.step2-4 {
    width: 20%;
    margin: 5px 0 5px 0;
}

.step2-5 {
    width: 78%;
    margin: 5px 2% 5px 0;
}

.botao {
    width: 140px;
    height: 55px;
}

.btn-box {
    margin:30px auto;
    text-align:center;
    width:100%;
    
}

#botao2 {
    bottom: 1rem;
}

.btn-step-1 {
    width:130px;
    height:35px;
    margin:0 10px;
    color: rgba(255, 255, 255, .74);
    background-color: #92062E;
    border-radius: 30px;
    border:0;
    outline:none;
    cursor:pointer;
}
.btn-step-10 {
    width:130px;
    height:35px;
    margin:0 10px;
    color: rgba(255, 255, 255, .74);
    background-color: #92062E;
    border-radius: 30px;
    border:0;
    outline:none;
    cursor:pointer;
}

h1 {
    font-size: 30px;
}

h1,
h2 {
    color: #2E2E2E;
}

h2 {
    position: relative;
    bottom: 0.5rem;
}

#step3 {
    position: relative;
    top: 0.65rem;
}


.container-plan {
    width: 100%;
    /* display: flex;
    justify-content: space-between; */
    align-items: left;    
    margin-bottom: .3rem;
}

.fin-pago p {
    margin: auto;
    margin-top:1rem;
    margin-bottom: 1rem;
    text-align: center;    
    font-weight: bold;
}

.plan {
    width:100%;
    text-align: left;
    background-color: #E3E3E3;
    
}



.plan .valor {
    font-size: 15px;
    text-align: left;
    padding:5px;
    margin:.3rem;
    line-height: 25px;
}


.description  {
    font-size: 15px;     
    
}

#srt {
    border:none;
    outline:none;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    display:inline;
    padding:0;
    margin:0;
}


#validade {
    border:none;
    font-size: 15px;
    font-family: sans-serif;
    outline:none;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    display:inline;
    padding:0;
    margin:0;
    background-color: none;
    background:none;
}

#interes,
#interes1 {
    border:none;
    outline:none;
    height: 20px;
    line-height: 20px;
    font-size:13px;
    font-family: sans-serif;
    display:inline;
    padding:0;
    margin:0;
    background-color: none;
    background:none;
}

/*FORMULARIO LOGIN ADMIN*/
#adminLogin,
#adminPwd {
    border-radius:5px;
    outline:none;
    line-height: 10px;
    font-size: 13px;
    margin:auto;
    margin-bottom: .5rem;    
    padding:10px;
    
}
.servico {
    width:15%;
    
}

#adminBtn {
    width:100%;
    margin:auto;
    border-radius:5px;
}


#dadosCartao {
    display:none;    
}

.dadosC{
    margin:auto;
    margin-bottom: .5rem;
    text-align:center;
    
}

#dadosBoleto {
    display:none;
    width:100%;
   
}

.dadosB{
    font-size:13px;
    margin:auto;
    width:90%;
    text-align: left;
    margin-top:1rem;
}


.payment {
    width: 100%;    
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    margin-bottom: .5rem;
}

.opcaoactiva{
    background-color:white;
}

.credit,
.boleto {
    width: 40%;    
    background-color: #E3E3E3;
    border-radius: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    padding: 10px;
}

.credit i,
.boleto i {
    color: rgba(26, 26, 26, 0.837);
    font-size: 60px;
}

.credit h6,
.boleto h6 {
    font-size: 15px;
    color: #9C0A33;
    margin: 0 auto;
}

.credit:hover,
.boleto:hover {
    background-color: #9C0A33;
    cursor: pointer
}

.boleto:hover h6,
.credit:hover h6 {
    color: white;
}

.credit:hover i,
.boleto:hover i {
    color: #E3E3E3;
}

#errmsg {
    font-size: 13px;
    margin-top: .5rem;
}


@media screen and (max-width:1200px) {
    .container1 {
        width: 400px;
    }
    .container2 {
        width: 500px;
    }
}

@media screen and (max-width:950px) {
    .container1 {
        display: none;
    }
    .container2 {
        width: 500px;
        margin:auto;
        border: 1px solid grey;
    }
    /* .dados {
        position: relative;
        bottom: 20px;
        margin:auto;
    } */
    .st1 {
        display:flex;
        flex-direction: column;
    }
    .st2 {
        
        position: absolute;
        left:750px;
        top:250px;
    }
    
    .st3 {
        display:flex;
        flex-direction: column;
        position: absolute;
        left:750px;
        
    }
    .st4 {     
        position: absolute;
        left:750px;
        top:200px;
    }
    /* form {
        display: flex;
        width: 90%;
    }
    input.step2-1,
    input.step2-2 {
        display: block;
        border-radius: 40px;
        width: 100%;
        color: #2E2E2E;
        border: 1px solid rgba(36, 36, 36, .4);
    }
    #botao2 {
        margin: 0;
    }
    .confirme-central {
        text-align: center;
    }
    .input-size {
        width: 100%;
    }
    .input-size input {
        width: 4rem;
        height: 5rem;
        margin: auto;
    }
    .letras2 {
        font-size: 20px;
        width: 90%;
        margin: auto;
    }
    input.step2-2 {
        width: 100%;
    }
     */
}

@media screen and (max-width:550px) {
    .container2 {
        width: 340px;
    }
}