@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-site {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body.dark {
    background: #343434;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.nav {
    box-shadow: 0px 3px 3px #00000029;
    position: fixed;
    left: 0;
    transition: .6s ease-in-out;
    width: 100%;
    z-index: 60;
    background-color: #fff;
    
}

/* 
.navbar {
    background-color: white;
    
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 400;
   
    width: 100%;
    z-index: 10;
} */


/* .zmdi-hc-2x {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
} */

.nav {
    display: flex;
    justify-content: space-evenly;
    width:100%;
    
    margin:0 auto;
}
.navmenu {
    display: flex;
    width: 90%;
    margin:auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
     
    min-height: 50px;
    
}
.btn-em-linha {
    display: none;
  
}

.navmenu ul {
    
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap:nowrap;
    align-items: center;
    width: 100%;    
    
}

.logo {
    width: 40%;
    min-width: 15%;
    display: flex;
    align-items: center;
    
}

.logo img {
    max-width: 100%;
    
    
}

.navmenu li {
    font-family: 'Manrope';
    font-size: 15px;
    font-weight: 600;
    list-style: none;
}

.navmenu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #343434;
}

.navmenu a:hover {
    color: #95062E;
}

button {
    position: relative;
    width: 100px;
    height: 30px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background: linear-gradient(to right, #8f072E, #95062E);
    align-self: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}


.btn-em-linha-2 a{
    color: white;
}

.btn-em-linha-2 a:hover,
.btn-em-linha a:hover{
    color: white;
}


.navrecursos {
    align-items: center;
    display: flex;
    width: 80%;
    justify-content: space-evenly;
 
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background: linear-gradient(to right, #95062E, #8f072E);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    height: 18px;
    width: 45px;
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.navfontsize li {
    display: inline-block;
    flex-direction: row;
    justify-content: center;
}

#aumentar-fonte {
    font-family: 'Manrope';
    font-size: 18px;
    text-align: center;
    color: white;
    font-weight: 600;
    margin-right: 12px;
}

#diminuir-fonte {
    font-family: 'Manrope';
    font-size: 18px;
    text-align: center;
    color: white;
    font-weight: 600;
}

.navfontsize button {
    border-radius: 30px;
    border: none;
    width: 35px;
    height: 35px;
    background: linear-gradient(to right, #95062E, #8f072E);
    cursor: pointer;
}

.checkbox:checked+.label .ball {
    transform: translateX(28px);
}

.navmenu-burger {
    display: none;
}



/*@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-site {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body.dark {
    background: #343434;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.nav {
    box-shadow: 0px 3px 3px #00000029;
    position: fixed;
    left: 0;
    transition: .6s ease-in-out;
    width: 100%;
    z-index: 60;
    background-color: #fff;
    background-color: red;
}

.nav nav {
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.navbar {
    background-color: white;
    display: grid;
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 400;
    grid-template-columns: repeat(auto-fit, minmax(100px, 4fr));
    grid-template-areas: "logo menu recursos";
    grid-template-rows: 90px;
    width: 100%;
    z-index: 10;
}

.navlogo {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    grid-area: logo;
    -ms-flex-pack: center;
    justify-content: center;
}

.zmdi-hc-2x {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
}

.navlogo img {
    max-height: 50px;
}

.navmenu {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    grid-area: menu;
    -ms-flex-pack: center;
    justify-content: center;
}

.navmenu ul {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
}

.navmenu li {
    font-family: 'Manrope';
    font-size: 15px;
    font-weight: 600;
    list-style: none;
}

.navmenu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #343434;
}

.navmenu a:hover {
    color: #95062E;
}

.navrecursos {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    grid-area: recursos;
    -ms-flex-pack: center;
    justify-content: space-evenly;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background: linear-gradient(to right, #95062E, #8f072E);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    height: 18px;
    width: 45px;
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.navfontsize li {
    display: inline-block;
    flex-direction: row;
    justify-content: center;
}

#aumentar-fonte {
    font-family: 'Manrope';
    font-size: 18px;
    text-align: center;
    color: white;
    font-weight: 600;
}

#diminuir-fonte {
    font-family: 'Manrope';
    font-size: 18px;
    text-align: center;
    color: white;
    font-weight: 600;
}

.navfontsize button {
    border-radius: 30px;
    border: none;
    width: 35px;
    height: 35px;
    background: linear-gradient(to right, #95062E, #8f072E);
    cursor: pointer;
}

.checkbox:checked+.label .ball {
    transform: translateX(28px);
}

.navmenu-burger {
    display: none;
}

button {
    position: relative;
    width: 100px;
    height: 30px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background: linear-gradient(to right, #8f072E, #95062E);
}

button a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}
*/

/* Inicio Encabezado de pagina*/

.caco {
    width: 100%;
    height: 110px;
    background-color: none;
}

.encabezado {
    margin-top: .1rem;
    margin-bottom: .5rem;
    display: grid;
    grid-row-gap: 1rem;
    grid-template-rows: repeat(3, auto);
}

.fas {
    color: #95062E;
    font-size: 2rem;
    position: relative;
    top: 5px;
}

.main-header {
    text-align: left;
    font-family: sans-serif;
    font-size: 2rem;
    color: #95062E;
    margin-top: .2rem;
    padding: 0;
}

.subt-main-header {
    text-align: left;
    font-family: sans-serif;
    font-size: 1rem;
    position: relative;
    margin-bottom: 2rem;
    line-height: 1.4rem;
}

.subt-main-header::after {
    position: absolute;
    content: "";
    bottom: -20px;
    left: 2px;
    width: 45px;
    height: 3px;
    background: #95062E;
}

.asinatura {
    color: rgb(49, 41, 172);
}

@media screen and (min-width:1101px) {
    .encabezado {
        margin-top: .1rem;
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-gap: 1rem;
    }
}


/* Fin ENCABEZADO*/


/* Inicio CURSO DESTACADO*/

.curso-destacado {
    text-align: center;
    font-family: sans-serif;
}

.contenido-nosotros {
    display: grid;
    align-content: center;
    line-height: 35px;
    margin-bottom: 1rem;
}

.texto-destacado {
    width: 90%;
    margin: auto;
}

.texto-destacado h1 {
    font-size: 1.7rem;
}

.imagen-destacada {
    width: 70%;
    margin: auto;
}

.imagen-destacada img {
    max-width: 100%;
    margin-bottom: 1rem;
}

.contenido-nosotros .btn1 {
    margin: auto;
    margin-top: .5rem;
    color: white;
    display: block;
    width: 30%;
    height: 30px;
    line-height: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 1rem;
    font-family: sans-serif;
    font-size: .9rem;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
}

@media screen and (min-width:1101px) {
    .curso-destacado {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1rem;
        align-content: center;
    }
    .imagen-destacada {
        width: 100%;
        margin-bottom: 1rem;
    }
    .texto-destacado p {
        text-align: justify;
    }
    .texto-destacado h1 {
        text-align: center;
    }
    #btn5 {
        margin-right: 30px;
    }
}


/* fin CURSO DESTACADO*/


/*Cards*/

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1rem;
}

.card {
    width: 350px;
    margin: 5px;
    background-color: white;
    position: relative;
}

.card h2 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
    position: relative;
}

.card p {
    font-family: sans-serif;
    font-size: .8rem;
    margin-bottom: 2rem;
    min-height: 150px;
}

div.botones {
    display: flex;
    justify-content: flex-end;
}

.botones i {
    font-size: 1rem;
    color: white;
    position: absolute;
    top: 7px;
    left: 20px;
}

.card .btn,
.modal-body a {
    color: white;
    width: 30%;
    height: 30px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 10px;
    margin-bottom: 1rem;
    font-family: sans-serif;
    font-size: .9rem;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
}

.card .btn1 {
    color: white;
    width: 40%;
    height: 30px;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 30px;
    margin-left: 10px;
    margin-bottom: 1rem;
    font-family: sans-serif;
    font-size: .9rem;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
    position: relative;
    display: none;
}

.modal-body a {
    background-color: navy;
    margin: 0 auto;
    display: block;
}

.card .imagen-card {
    height: 18rem;
    width: 100%;
    margin-bottom: 19px;
    background-size: cover;
}

.foto-1 {
    background-image: url("/images/fotos-cursos/cursos/sommelier-shutterstock-1.jpg");
    position: relative;
}

.fondo-1 {
    background-color: rgba(3, 160, 74, 0.7);
    border-bottom: 1px solid white;
}

.fondo-2 {
    background-color: rgba(187, 8, 8, 0.7);
    border-bottom: 1px solid white;
}

.fondo-3 {
    background-color: rgba(199, 129, 24, 0.7);
    border-bottom: 1px solid white;
}

.fondo-4 {
    background-color: rgba(65, 64, 64, 0.7);
    border-bottom: 1px solid white;
}

.fondo-5 {
    background-color: rgba(199, 196, 18, 0.7);
    border-bottom: 1px solid white;
}

.fondo-6 {
    background-color: rgba(192, 65, 6, 0.7);
    border-bottom: 1px solid white;
}

.foto-2 {
    background-image: url("/images/fotos-cursos/cursos/fresco-egipcio.jpg");
    position: relative;
}

.foto-3 {
    background-image: url("/images/fotos-cursos/cursos/toscana.jpg");
    position: relative;
}

.foto-4 {
    background-image: url("/images/fotos-cursos/cursos/mendoza.jpg");
    position: relative;
}

.foto-5 {
    background-image: url("/images/fotos-cursos/cursos/vinosbrasil.jpg");
    position: relative;
}

.foto-6 {
    background-image: url("/images/fotos-cursos/cursos/champagne.jpg");
    position: relative;
}

.titulo-curso {
    position: absolute;
    width: 100%;
    height: 9rem;
    top: 0;
    left: 0;
    text-align: center;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 1rem;
    color: white;
}

.titulo-curso h2 {
    margin-top: .5rem;
}

.icono-curso {
    text-align: left;
    margin: .7rem;
}

.ico-curso {
    color: white;
    font-size: 1.5rem;
}


/* INICIO MODALS */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    border-radius: 10px;
    transition: 200ms ease-in-out;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal-body a {
    margin-top: .5rem;
    margin: auto;
    width: 50%;
    line-height: 30px;
}

.modal.active {
    transform: translate(-50%, -50%) scale(01);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

.modal-body h5 {
    color: black;
    font-family: sans-serif;
    font-size: .9rem;
    padding: 10px 15px;
    font-weight: 300;
}

.modal-body ol {
    color: black;
    font-family: sans-serif;
    font-size: .8rem;
    padding: 10px 15px;
    padding-left: 30px;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}


/* FIN MODALS */


/* PARTNERS */

.partners {
    /* background-color: white; */
    align-items: center;
    text-align: center;
    background-color: white;
}

.partners h2 {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 300;
    position: relative;
}

.partners h2::after {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 47%;
    width: 45px;
    height: 3px;
    background: rgb(49, 41, 172);
}

.partners p {
    margin-top: 1.5rem;
    text-align: center;
    font-family: sans-serif;
    line-height: 30px;
}

.logos {
    display: grid;
    justify-items: center;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.logos img {
    max-width: 40%;
}

@media screen and (min-width:1101px) {
    .patrons {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        justify-content: center;
    }
    .logos {
        display: grid;
        justify-items: center;
        margin-top: 1.5rem;
        align-items: center;
    }
    .logos img {
        max-width: 70%;
    }
}


/* SOBRE NOS */

.aluno {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sombra {
    box-shadow: inset 0 -3px 0 0 #95062E;
    margin-top: 10px;
    margin-bottom: 1rem;
    height: 1px;
}

.imagen-participante {
    width: 20%;
    align-items: center;
    margin-bottom: 5px;
    background-position: center center;
    background-size: cover;
    margin-left: 15px;
    border-radius: 50%;
}

.imagen-participante img {
    max-width: 80%;
    border-radius: 50%;
}

.redes-alunos {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.redes-alunos i {
    font-size: 30px;
    color: #95062E;
}

.contenido-aluno {
    width: 78%;
    align-items: flex-start;
    margin-bottom: 15px;
}

.contenido-aluno h3 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Manrope';
}

.content {
    font-family: sans-serif;
    font-size: 15px;
    width: 90%;
    overflow: hidden;
    margin-bottom: 15px;
    text-align: justify;
}

.mostrar-mas {
    display: none;
}

.mostrar-mas--show {
    display: inline;
}

.mostrar {
    font-family: sans-serif;
    font-size: 15px;
    color: #95062E;
    font-weight: bold;
    cursor: pointer;
}

.salto {
    margin-bottom: 3rem;
    height: 2px;
    
}

@media screen and (max-width:900px) {
    .aluno {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
    }
    .imagen-participante {
        width: 40%;
    }
    .salto {
        margin-bottom:0;
    }
}


/* PLANOS */

.planos-header .texto-header {
    text-align: center;
    margin-bottom: 2rem;
}

.planos-header .texto-header h1 {
    font-size: 36px;
}

.planos-header .texto-header h3 {
    font-size: 24px;
}

.card-planos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1rem;
    color: #95062E;
    margin: 0;
}

.card-planos {
    width: 330px;
    text-align: center;
    margin-bottom: 1rem;
    box-shadow: 4px 7px 13px -1px rgba(0, 0, 0, 0.53);
    border-radius: 10px;
    margin-left: 10px;
}

.nombre-plano .icono-plano {
    text-align: center;
}

.icono-plano i {
    margin-top: 2rem;
    color: #95062E;
    font-size: 3rem;
}

.nombre-plano h1 {
    margin-top: 2rem;
    margin-bottom: 1.1rem;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.precio-plano span {
    font-size: 2rem;
    letter-spacing: -1px;
    font-family: sans-serif;
}

.subti {
    margin-top: .7rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    font-family: sans-serif;
}

.beneficio-icono {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    text-align: left;
}

.beneficio-icono p {
    padding-left: 20px;
    font-size: .9rem;
    margin-left: 5rem;
    font-family: sans-serif;
}

.beneficio-icono i {
    color: #95062E;
    font-size: .9rem;
    align-self: center;
    position: absolute;
    top: 0;
    left: 70px;
}

.planos-boton {
    color: white;
    width: 60%;
    height: 50px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 10px;
    font-family: sans-serif;
    font-size: .9rem;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: turquoise;
}


/* Formulario */
.contenedor-form {
    margin-top: 1.1rem;
    width: 100%;
}

.contacto-header {
    margin-bottom: 1.1rem;
    text-align: center;
}

.contacto-header h1 {
    font-size: 36px;
    margin-bottom: 1.1rem;
}

.contacto-header h3 {
    font-size: 24px;
    margin-bottom: 2rem;
}

.formulario {
    display: flex;
    justify-content: space-between;    
    width:100%;
}

.coluna-izq,
.coluna-der {
    width: 50%;
}

.coluna-izq .w50,
.coluna-izq .w100,
textarea {
    height: 40px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
}

.primeros {
    text-align: center;
}

.coluna-izq .w50 {
    width: 45%;
    margin-bottom: 2rem;
    display:inline;
}

input[type="radio"]{
    display:inline;
    margin-bottom: 1rem;
}

.coluna-izq .w100 {
    margin: auto;
    display: block;
    margin-bottom: 2rem;
    width: 90%;
}

.coluna-izq textarea {
    width: 90%;
    margin: auto;
    display: block;
    min-height: 130px;
    resize: none;
    margin-bottom: 2rem;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.coluna-der .label-format {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.coluna-der select {
    margin: 1rem 0 1rem 0;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
}

.coluna-der .label-radio {
    font-size: .9rem;
    font-family: sans-serif;
    font-weight: 400;
    padding-left: 10px;
}

.campos-obligatorios {
    font-size: .9rem;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 1rem;
}

.coluna-der .btn {
    color: white;
    height: 50px;
    width: 200px;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

@media screen and (max-width:1000px) {
    .formulario {
        display: flex;
        flex-direction: column;
        margin:0 auto;                
    }
    .segundos {
        margin-left: 2.5rem;
    }
    .campos-obligatorios {
        margin-top: 1rem;
    }
    .coluna-der,
    .coluna-izq {
        margin:auto;
        width:100%;
    }
}

/* HOMEPAGE */

.hero .imagen-hero {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
}

.imagen-hero img {
    max-width: 100%;
    width: 150%;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.hero-2,
.hero-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    background-color: rgb(182, 182, 4);
    align-items: center;
}

.hero-2 {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.quem-somos h1 {
    font-size: 36px;
    margin-bottom: 1.1rem;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 1px;
    margin-top: 2rem;
}

.hero-2 .quem-somos a {
    background: none;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    border: 2px solid white;
    border-radius: 15px;
    width: 150px;
    display: block;
    margin: auto;
    line-height: 35px;
    height: 40px;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.quem-somos h3 {
    font-size: 24px;
    margin-bottom: 2rem;
    color: white;
    letter-spacing: .5px;
    font-family: sans-serif;
    width: 70%;
    font-size: 1.3rem;
    margin: auto;
    margin-bottom: 1.1rem;
    line-height: 30px;
}

.hero-3 {
    background-color: rgb(253, 253, 245);
    height: auto;
    text-align: center;
    justify-content: center;
    grid-gap: 1rem;
    align-items: flex-start;
}

.titulo-second h3 {
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 1.1rem;
    color: grey;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.titulo-second p {
    font-size: 14px;
    margin-bottom: 2rem;
    color: grey;
    letter-spacing: .5px;
    font-family: sans-serif;
    margin-bottom: 1.1rem;
    line-height: 30px;
}

.hero-4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 50vh;
    background-color: rgb(39, 39, 39);
    color: white;
    height: auto;
    text-align: center;
    grid-gap: 1rem;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 15px;
    padding-right: 15px;
}

.img-recomendados {
    width: 100%;
}

.img-recomendados img {
    width: 50%;
    max-width: 100%;
    border-radius: 50%;
}

.titulo-recomendados h3 {
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: .5rem;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.titulo-recomendados h5 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 1.1rem;
    color: white;
    font-family: sans-serif;
    letter-spacing: 3px;
}

.titulo-recomendados p {
    font-size: 16px;
    margin-bottom: 2rem;
    color: white;
    letter-spacing: .5px;
    font-family: sans-serif;
    margin-bottom: 1.1rem;
    line-height: 30px;
}

@media screen and (max-width:900px) {
    .hero-3 {
        display: grid;
        grid-template-columns: 1fr;
    }
    .titulo-second p {
        width: 60%;
        margin: auto;
    }
    .hero-4 {
        display: grid;
        grid-template-columns: 1fr;
    }
    .recomendados {
        padding-top: 30px;
        padding-bottom: 30px;
        margin: 0px;
    }
    .titulo-recomendados p {
        width: 70%;
        margin: auto;
    }
    .img-recomendados img {
        width: 40%;
        max-width: 100%;
        border-radius: 50%;
    }
    .img-recomendados {
        width: 100%;
        margin-bottom: 10px;
    }
}


/* FOOTER */

footer {
    width: 100%;
    margin-bottom: 2rem;
    background-color: rgb(253, 253, 245);
    margin: auto;
}

.contato-direto {
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 3rem;
}

.contato-direto .datos h2 {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    color: grey;
    text-transform: uppercase;
    text-align: left;
    position: relative;
}

.contato-direto .datos h3 {
    font-size: 22px;
    letter-spacing: 1px;
    color: grey;
    text-align: left;
    position: relative;
}

.contato-direto .datos h3::after {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #95062E;
    width: 100%;
    left: 0;
    bottom: -8px;
    visibility: hidden;
}

.contato-direto .datos .icone-1:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f879";
    color: grey;
    position: absolute;
    left: -70px;
    top: -7px;
    font-size: 60px;
    vertical-align: middle;
}

.contato-direto .datos .icone-2:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1fa";
    color: grey;
    position: absolute;
    left: -70px;
    top: -7px;
    font-size: 60px;
    vertical-align: middle;
}

.contato-direto .datos .icone-3:before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    content: "\f232";
    color: grey;
    position: absolute;
    left: -70px;
    top: -7px;
    font-size: 60px;
    vertical-align: middle;
}

.redes {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
    color: grey;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.redes .icone-redes {
    margin: auto;
    border-radius: 50%;
}

.redes .icone-redes i {
    margin-top: 1rem;
    border-radius: 50%;
    margin-left: 1rem;
    font-size: 36px;
}

.redes .icone-redes i:hover {
    color: yellow;
}

.footer-amplo {
    margin-bottom: 5rem;
    display: flex;
}

.coluna-datos {
    display: flex;
    margin-left: 1rem;
}

.coluna-um {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex: 1;
}

.coluna-datos i {
    font-size: 17px;
    color: rgb(172, 172, 1);
    align-self: center;
}

.coluna-datos a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 12px;
    width: 70%;
    margin-left: 12px;
    align-self: center;
    text-align: justify;
}

.coluna-dos {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex: 1;
}

.coluna-dos a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-family: sans-serif;
    font-size: 12px;
    display: block;
    width: 80%;
}

.coluna-dos a:hover {
    color: grey;
    font-weight: bold;
}

.coluna-tres {
    flex: 1;
    height: 12rem;
}

.coluna-tres .mapa {
    margin-right: 1rem;
}

.coluna-tres .mapa iframe {
    width: 100%;
    height: 12rem;
    max-height: 100%;
}

.final {
    text-align: center;
    background-color: rgb(182, 182, 4);
    height: 70px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1000px) {
    .contato-direto {
        display: flex;
        flex-direction: column;
        padding-top: 0;
    }
    .contato-direto .datos {
        margin-bottom: 1rem;
    }
    .contato-direto .datos h2,
    .contato-direto .datos h3 {
        text-align: center;
    }
    .contato-direto .datos .icone-1:before,
    .contato-direto .datos .icone-2:before,
    .contato-direto .datos .icone-3:before {
        display: none;
    }
    .contato-direto .datos h3::after {
        visibility: visible;
    }
    .sombra {
        margin: 0;
    }
}

@media screen and (max-width:1000px) {
    .coluna-um {
        display: none;
    }
    .coluna-dos {
        display: none;
    }
    .coluna-tres .mapa {
        width: 100%;
        margin: auto;
    }
}

/* 
.form-cadastro {
    width:500px;
    margin:auto;
    display:flex;
    flex-direction: column;

}

.form-cadastro input {
    width:100%;
    display:block;
    
} */



/* CURSO VIDEO */

.videos {
    width: 100%;
}

.video {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 32px;
}

.video img {
    max-width: 100%;
    border-radius: 5px;
}

.curso-video {
    position: relative;
}

.thumb {
    width: 300px;
    height: 200px;
    background-color:khaki;
    background-size:cover;
    border-radius:5px;
    /* background-image: url("/uploads/<%curso.ilustracao%>"); */
}

.thumb img {
    max-width:100%;
    border-radius:5px;
}

/* 
.curso-video::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    content: "\f144";
    color: white;
    font-size: 70px;
    top: 70px;
    left: 130px;
} */

.link-video {
    text-decoration: underline;
    text-decoration-color: #95062E;
    display: block;
    width: 100%;
}


/* .curso-video i {
    position: absolute;
    color: grey;
    font-size: 120px;
    top: 310px;
    left: 240px;
} */

.curso-video {
    width: 30%;
    margin-right: 2rem;
}

.nombre-curso h3 {
    font-size: 30px;
    color: #95062E;
    margin-bottom: 16px;
    font-family: sans-serif;
}

.nombre-curso .vista {
    font-size: 20px;
    color: black;
    font-family: sans-serif;
}

.nombre-curso .professor {
    font-size: 20px;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 16px;
}

.nombre-curso .cargo {
    font-size: 20px;
    color: black;
    font-family: sans-serif;
    font-weight: lighter;
}

@media screen and (max-width:1079px) {
    .video {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .curso-video,
    .thumb {
        margin: auto;
    }
    .nombre-curso {
        text-align: center;
    }
    .nombre-curso h3 {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .nombre-curso .vista {
        font-size: 13px;
        color: black;
    }
    .nombre-curso .professor {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .nombre-curso .cargo {
        font-size: 16px;
    }
    .curso-video {
        width: 50%;
    }
}

@media screen and (max-width:700px){
    .navmenu {
        display: flex;
        flex-direction: column;
    }
    
    .logo {
        margin: auto;
        margin-bottom: .5rem;
        width: 40%;
        
    
    }
    .navmenu ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap:wrap;
        gap:.5rem;
        
    }
    .navcontrast, .navfontsize {
        display: none;
    }
       .btn-em-linha {
        display: inline;        
    }
    .btn-em-linha a{
        color: white;
    }
    .btn-em-linha-2 {
        display: none;
    }
    .caco {
        margin-top:40px;
    }
}

