<%- include("./partials/header")%>
<%- include("./partials/nav")%>
    <!--comeco pagina SOBRE-->
    <div class="container-site">
        <div class="caco"></div>
        <!--espacamento header-->

        <section class="encabezado">
            <i class="fas fa-address-card"></i>
            <h2 class="main-header">SOBRE NÓS</h2>
            <h4 class="subt-main-header">Formado por 6 brilhantes jovens, que perceberam a existência da necessidade de cursos estruturados de vinhos focados em você, consumidor, com o objetivo principal de tornar o mundo do vinho mais acessível para você de uma forma amigável, profissional,
                contemporânea e não intimidatória e assim nasceu a... <br> W3 | Academia dos Vinhos!</h4>
        </section>
        <!--encabezado-->

        <main>

            <div class="read-more-container">

                <div class="aluno">
                    <div class="imagen-participante">
                        <img src="/images/foto-sobre/FotoAlex.jpg" alt="">
                        <!-- <p class="content"><span>Linkedin: https://www.linkedin.com/in/alexandre-da-costa-pedro-a319b62b/<br>Github: https://github.com/alexandrecpedro</span> -->
                    </div>
                    <!--imagen participante-->
                    <div class="contenido-aluno">
                        <h3>Alexandre Pedro</h3>
                        <div class="redes-alunos">
                            <a href="https://www.linkedin.com/in/alexandre-da-costa-pedro-a319b62b/" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                            <a href="https://github.com/alexandrecpedro" target="_blank"><i
                                    class="fab fa-github"></i></a>
                        </div>
                        <p class="content">Chemical Engineer graduated from Fundação Armando Alvares Penteado - FAAP. Looking for new opportunities of learning and professional growth by migrating to IT area - full stack web developer.
                            <span class="mostrar-mas">He has valuable experiences, such as technical visits: the HEP
                                (hydroelectric plant) San Antonio (Porto Velho, Rondônia - 2011); the expansion works of
                                the ports Ponta da Madeira and Itaqui (São Luis, Maranhão - 2012); and expansion works
                                of the Panama Canal (7 to 12 October 2012). He had the opportunity to produce manual
                                instructions, step-by-step, of smartphones; and if the developing and production of
                                printing inks works according to the Brazilian laws.
                                It is a committed, organized, methodical professional and he is ready for new
                                challenges.</span>
                        </p>
                        <a class="mostrar">Mostrar mais</a>
                        <div class="sombra"></div>
                    </div>
                    <!--contenido-aluno-->
                </div>
                <!--aluno-->

                <div class="aluno">
                    <div class="imagen-participante">
                        <img src="/images/foto-sobre/fotoCaco.jpg" alt="">
                    </div>
                    <!--imagen participante-->
                    <div class="contenido-aluno">
                        <h3>Caio Vinícius</h3>
                        <div class="redes-alunos">
                            <a href="https://www.linkedin.com/in/caioviniciusneves/" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                            <a href="https://github.com/caconeves/" target="_blank"><i class="fab fa-github"></i></a>
                        </div>
                        <p class="content">Systems Analyst Junior, graduating from Universidade Salvador – UNIFACS. . He has worked in the Human Resources area for many years, mainly at Indra, where he discovered a passion for programming and decided to invest in this area.
                            <span class="mostrar-mas">He started the
                                faculty of systems analysis and
                                development in 2020 and is about to graduate this year. With that, he decided to join
                                Digital House to
                                get more programming knowledge and get certified to start as a full stack web
                                developer.</span></p>
                        <a class="mostrar">Mostrar mais</a>
                        <div class="sombra"></div>
                    </div>
                    <!--contenido-aluno-->
                </div>
                <!--aluno-->


                <div class="aluno">
                    <div class="imagen-participante">
                        <img src="/images/foto-sobre/FotoMartin.jpg" alt="">
                    </div>
                    <!--imagen participante-->
                    <div class="contenido-aluno">
                        <h3>Martin Embon</h3>
                        <div class="redes-alunos">
                            <a href="https://www.linkedin.com/in/martin-embon/" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                            <a href="https://github.com/martinembon/" target="_blank"><i class="fab fa-github"></i></a>
                        </div>
                        <p class="content">Profissional com mais de 10 anos de experiência em gerenciamento de negócios gastronômicos com atuação em distintos países da América Latina e Caribe. Líder de projetos gastronômicos e expansão de marca em Argentina, México e Venezuela.
                            <span class="mostrar-mas">Apaixonado pela transformação tecnológica da indústria
                                gastronômica por meio de plataformas que dão suporte a clientes e empresas.
                                Autor publicado. Atualmente incorporando habilidades em desenvolvimento e
                                programação.</span>
                        </p>
                        <a class="mostrar">Mostrar mais</a>
                        <div class="sombra"></div>
                    </div>
                    <!--contenido-aluno-->
                </div>
                <!--aluno-->

                <div class="aluno">
                    <div class="imagen-participante">
                        <img src="/images/foto-sobre/FotoRuthOk.jpg" alt="">
                    </div>
                    <!--imagen participante-->
                    <div class="contenido-aluno">
                        <h3>Camila Ruth Regiani</h3>
                        <div class="redes-alunos">
                            <a href="https://www.linkedin.com/in/camila-ruth-regiani-4a9b1090" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                            <a href="https://github.com/CamilaRuth" target="_blank"><i class="fab fa-github"></i></a>
                        </div>
                        <p class="content">Pós-graduada pela Universidade de Santo Amaro - UNISA - no curso de Comunicação Social - Publicidade e Propaganda, com especialização em Marketing e Vendas.
                            <span class="mostrar-mas"></span>
                        </p>
                        <div class="salto"></div>  
                        <!-- <a class="mostrar">Mostrar mais</a> -->
                        <div class="sombra"></div>
                    </div>
                    <!--contenido-aluno-->
                </div>
                <!--aluno-->

                <div class="aluno">
                    <div class="imagen-participante">
                        <img src="/images/foto-sobre/FotoEduardo.jpg" alt="">
                    </div>
                    <!--imagen participante-->
                    <div class="contenido-aluno">
                        <h3>Eduardo Assimo</h3>
                        <div class="redes-alunos">
                            <a href="https://www.linkedin.com/in/eduardo-assimo/" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                            <a href="https://github.com/eduardo-assimo" target="_blank"><i class="fab fa-github"></i></a>
                        </div>
                        <p class="content">Estudante da Universidade Anhembi-Morumbi - SP, no 3º semestre do curso de Análise e Desenvolvimento de Sistemas. Entusiasta de tecnologia e amante de videogames.
                            <span class="mostrar-mas"></span>
                        </p>
                        <div class="salto"></div> 
                        <!-- <a class="mostrar">Mostrar mais</a> -->
                        <div class="sombra"></div>
                    </div>
                    <!--contenido-aluno-->
                </div>
                <!--aluno-->

                <div class="aluno">
                    <div class="imagen-participante">
                        <img src="/images/foto-sobre/avatar.jpg" alt="">
                    </div>
                    <!--imagen participante-->
                    <div class="contenido-aluno">
                        <h3>Fillipe</h3>
                        <div class="redes-alunos">
                            <a href="https://www.linkedin.com/in/camila-ruth-regiani-4a9b1090" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                            <a href="https://github.com/CamilaRuth" target="_blank"><i class="fab fa-github"></i></a>
                        </div>
                        <p class="content">Pós-graduado pela Universidade de Santo Amaro - UNISA - no curso de Comunicação Social - Publicidade e Propaganda, com especialização em Marketing e Vendas.
                            <span class="mostrar-mas"></span>
                        </p>
                        <!-- <a class="mostrar">Mostrar mais</a> -->

                    </div>
                    <!--contenido-aluno-->
                </div>
                <!--aluno-->


            </div>
            <!--read-more-container-->

        </main>

        <div class="sombra"></div>

        <%- include("./partials/footer")%>

