@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-color: #B51E42;
    font-family: 'Manrope', 'sans-serif';
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 {
    background-color: yellow;
    top: 170px;
    left: 412px;
    width: 500px;
    height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px 0 0 25px;
}

.container2 {
    background-color: #FFFFFF;
    top: 170px;
    left: 908px;
    width: 600px;
    height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 25px 25px 0;
}

input {
	display: block;
    margin-bottom: 10px;
    border-radius: 25px;
    width: 100%;
}

button {
    color: #FFFFFF;
    background-color: #92062E;
    border-radius: 31px;
    margin-left: 25%;
}